SVWSSERVER_PORT=8443
SVWSSERVER_HOST=localhost
SVWSSERVER_SCHEMA=svwsdb
SVWSSERVER_USER=Admin
SVWSSERVER_PASSWORD=YourPasswordHere

# Auf false setzen, um den Bereich "Vom SVWS-Server laden" auszublenden (Lehrkraft-Modus)
ADMINTOOL_VISIBLE=false
